*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.hero{
     background-image: url('../images/herobackground-raincoat.jpg'); 
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 10%;
    
}

html {
    height: 100%;
}

body {
    height: 100%;
}

hr {
    border: 1px solid rgb(226, 226, 226);
}

#test {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calendar-box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 45rem;
    height: 52rem;

}
.month{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    text-align: center;

}

.month i {
    font-size: 2.5rem;
    cursor: pointer;

}

.month h1{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    
}

.month p{
    font-size: 1.6rem;
}

.weekdays{
    width: 100%;
    height: 5rem;
    padding:0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div{
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.days div:hover{
    background-color: black;
    color: aliceblue;
}
.prev-date,
.next-date{
    opacity: 0.5;
}

#filterBtn {
    width: 100%;
}


